*{
    margin: 0;
    padding: 0;
}
/* style header section */

.header-section {
    display: flex;
    justify-content: space-between;
    background: #cc70841a;
    width: 1920px;
    height: 750px;
}

.header-bio{
    width: 708px;
    margin: 100px auto auto 100px;
}

.header-bio h1{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
}

.header-bio p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary{
    background-color: #e55473;
    color: #ffff;
    width: 180px;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Lato;
    font-weight: 700;
    border: none;
}

.header-profile{
    
}

.header-profile img{
    width: 500px;
    height: 750px;
    margin-right: 580px;
}

/* style header section */
  

/* main style start */


/* flower section style */
.flower-description{
    color: #272727;
    text-align: center;
    font-family: Lato;
    margin-top: 150px;
}

.flower-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-decoration: underline;
}

.flower-1{
    width: 400px;
    height: 438px;

    border-radius: 300px 300px 0px 0px;
    background: rgba(128, 59, 92, 0.15);
    margin-right: 20px;
}
.flower-1 img { 
    width: 280px;
    height: 410px;
    padding: 30px;
}

.flower-2{
    width: 400px;
    height: 438px;

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 20px;
}
.flower-2 img{
    width: 350px;
    height: 400px;
    padding: 30px;
}

.flower-3{
    width: 400px;
    height: 438px;

    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-3 img{
    width: 350px;
    height: 430px;
    padding: 10px;
}

.first-title{
    text-align: center;
    /* margin-top: 10px; */
}
.seconde-title{
    text-align: center;
    margin-top: 10px;
}
.third-title{
    text-align: center;
    margin-top: 20px;
}

/* flower section style */

.sec-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 500px;
    margin-top: 150px;
}

.btn-primary-2{
    background-color: #e55473;
    color: #ffff;
    width: 100px;
    padding: 12px 20px;
    border-radius: 5px;
    font-family: Lato;
    font-weight: 700;
    border: none;
}
.pink{
    color: #E55473;
}

.discount-flower-photos img{
    width: 320px;
    height: 420px;
}
/* flower discount sec end */


/* social media section style start */

.social-media-description{
    color: #272727;
    text-align: center;
    font-family: Lato;
    margin-top: 100px;
}

.social-media-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media-photos img{
    width: 280px;
    height: 320px;
    padding: 20px;
}
/* social media section style end */

.bg-flower {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 250px;
}

.bg-flower img{
    width: 1280px;
    height: 400px;
    border-radius: 8px;
    margin: 20px 30px;
    padding: 20px 30px;
    position: absolute;
}
.sale-deals{
    text-align: center;
    border-radius: 8px;
    position: relative;
}

.sale-deals h1{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sale-deals p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.btn-primary-3{
    background-color: #e55473;
    color: #ffff;
    width: 100px;
    padding: 12px 20px;
    border-radius: 5px;
    font-family: Lato;
    font-weight: 700;
    border: none;
}

.coll-lg{
    width: 600px;
    height: 20px;
    border-radius: 8px;
    background: #FFF;
    margin: 0 10px 10px 0;
    padding: 10px;
}
/* social media section style end */

/* main style end*/

/* footer style start */
footer{
    margin-top: 200px;
    width: 100%;
    height: 449px;
    background: #111010;
}
.footer-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.footer-sec h1{
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 10px;
}
.footer-sec p{
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 20px;
}
.footer-sec h5{
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
/* footer style end */